# server config
PORT=3000
HOST_NAME=localhost

# production | development | none
NODE_ENV=development

# front-end
CLIENT_ORIGIN=http://localhost:3001


# mysql config
DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=strongpassword
DB_NAME=pet-finder-db
DB_PORT=3306


# jwt config
JWT_TOKEN_LIFE=1h
ACCESS_TOKEN_NAME=access_token
ACCESS_TOKEN_SECRET=b198993bb3a088904eb8481c9b5aa0237d10737dbb9179bc7b4ab8490a0de144ebd5aa33f9366f288b945a8ed4d6b4a903726617e83db41ce10f560e37a99719
